# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & DB
# Removing retail.db and product_segments.csv from ignore so they can be pushed for deployment
# *.db
# outputs/*.csv
*.csv
data/

# Streamlit
.streamlit/
streamlit.log

# System & Backups
backups/
.DS_Store
